Django==4.2.3
psycopg2_binary==2.9.6
djangorestframework==3.14.0
django_cors_headers==4.2.0
PyJWT==2.8.0
django_debug_toolbar==4.1.0
django_extensions==3.2.3
celery==5.3.1
requests==2.31.0
django_filter==23.2
redis==4.6.0
drf_yasg==1.21.7
factory_boy==3.3.0
boto3==1.28.12
sendgrid==6.10.0
flower==2.0.0